@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*===== GLOBAL STYLE =====*/
html,
body {
	background-color: rgb(0, 44, 106);
	font-family: "Segoe UI Light", Quicksand, sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	scroll-behavior: smooth;
	overflow: hidden;
	background-position-x: 0px;
	transition: background-position 0.5s linear;
	animation: bgAnim 90s linear infinite;
	background-size: cover;
	background: url("resources/graphics/background.jpeg");
}

::-moz-focus-inner {
	border: 0;
}

button,
select {
	border-radius: 10px;
	background-color: #0029b2;
	box-shadow: 0 5px 10px rgb(142, 142, 142);
	transition: transform 0.1s linear;
	border: 0;
	color: white;
	padding: 1.5vmin;
	font-family: "Segoe UI Light", Quicksand, sans-serif;
	font-size: 2vmin;
}

button:hover {
	transform: scale(0.95);
}

button:active {
	transform: scale(0.9);
}

select {
	-moz-appearance: none;
	text-align: center;
	margin: 5px;
}

select:hover {
	transform: scale(0.95);
}

select:focus {
	transform: scale(1);
}

input {
	border-radius: 10px;
	background-color: hsl(0, 0%, 94.1%);
	box-shadow: 0 5px 10px rgb(142, 142, 142);
	transition: transform 0.1s linear;
	border: solid 1px hsl(226.2, 100%, 34.9%);
	color: hsl(0, 0%, 8.2%);
	padding: 1.5vmin;
	margin: 1vmin;
	font-family: "Segoe UI Light", Quicksand, sans-serif;
	font-size: 2vmin;
	transition: box-shadow 0.1s linear, transform 0.1s linear;
}

input:hover {
	box-shadow: 0 7px 12px rgb(142, 142, 142);
}

input:active {
	transform: scale(0.95);
}

input:focus {
	transform: scale(0.95);
}

textarea {
	resize: none;
	padding: 0;
	margin: 0;
	background-color: hsl(0, 0%, 99.2%);
	color: black;
	border: ridge 5px hsl(0, 0%, 100%);
	transition: background 0.1s linear;
	border-radius: 0;
	font-family: Source Code Pro, monospace;
	width: 100%;
}

main > section {
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	display: grid;
	grid-template-rows: repeat(2, 50%);
	grid-template-columns: repeat(4, 25%);
	grid-gap: 2%;
	
	color: #353535;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 2px 4px 0px;

	font-size: 2.5vmin;
	text-align: center;
	overflow: auto;

	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section-header {
	margin: 0;
	padding: 2%;

	position: sticky;
	top: 0;

	text-shadow: 0px 2px 3px hsl(0, 0%, 65.9%);
	text-align: center;

	background: white;
	box-shadow: 0 5px 33px #4a4a4a50;
}

/*===== MAIN MENU =====*/
#mainMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: block;
	opacity: 1;

	text-align: center;
	font-family: "Segoe UI Light", Quicksand, sans-serif, sans-serif;

	transition: opacity 0.5s linear, transform 0.5s linear, left 0.5s linear;
}

#mainMenuTitle {
	transform: translate(0, -50%);

	opacity: 0;
	text-align: center;

	transition: opacity 0.5s linear, transform 0.5s linear;
}

#mainMenuSubtitle {
	width: 100vw;
	transform: translate(0, -45%);
	
	opacity: 0;

	transition: opacity 0.5s linear, transform 0.5s linear;
}

#mainMenu-startBtn {
	transform: translate(0, -40%) scale(1.0);

	opacity: 0;
	box-shadow: 0 5px 10px hsl(215.5, 100%, 12.9%);

	transition: transform 0.1s linear, opacity 0.5s linear, background 0.1s linear, padding 0.1s linear;
}

#mainMenu-startBtn:hover {
	transform: scale(1.05) !important;
}

#mainMenu-startBtn:active {
	transform: scale(1) !important;
}

#disclaimer {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.ui_scenario {
	display: none;
}

/* NOTIFICATIONS */

#notificationsBanner {
	width: 100vw;
	height: fit-content;

	position: fixed;
	left: 0;
	top: -19%;

	font-size: 20px;
	text-align: center;

	color: white;
	background-color: blue;

	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#notificationsBanner p {
	width: 100%;
	margin: 1%;

	position: relative;
	left: 50%;
	top: 19%;
	transform: translate(-50%, 0);

	font-size: 2vmin;
	font-family: monospace;
}

/* MAIN INTERFACE */
#mainInterface {
	width: 80vw;
	height: 80vh;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: none;
	border-radius: 10px;
	opacity: 0;
	background: white;
	box-shadow: 0 35px 65px #0d0b1d;

	transition: opacity 0.5s ease-in, left 0.5s ease-in, transform 0.5s ease-in;
}

/* SCENARIO SELECTION */
#scnSelect {
	display: flex;
	flex-direction: column;
	opacity: 0;
}


.scnSelect-card {
	height: 50%;
	
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	justify-content: center;
	align-items: center;
	gap: 15px;

	background: hsl(0, 0%, 94.1%);
}

.scnSelect-cardPreview {
	height: 50%;
}

/* SCENARIO SETTINGS */
#scnSettings {
	display: none;
	flex-direction: column;
	opacity: 0;
}

#scnSettings-startBtn {
	width: 96%;
	margin: 2%;

	position: absolute;
	left: 0;
	bottom: 0;
}

/* SCENARIO VARIABLES */

#scnVariables {
	display: none;
	flex-direction: column;
	opacity: 0;
}

/* EDITOR */

#scnEditor {
	display: none;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(2, 50%);
	grid-gap: 2%;
	opacity: 0;
}

#scnEditorTextarea {
	width: 66%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

#scnEditorPanel {
	width: 34%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#scnEditor-openBtn {
	width: fit-content;
	padding: 0.7%;

	position: fixed;
	right: 0;
	top: 0;

	font-size: 2vmin;
	text-align: center;

	color: #CCC;
	background-color: transparent;
	box-shadow: none;

	transition: right 0.5s ease-in-out;
}

/* GENERATED STORY DISPLAY */
#scnDisplay {
	display: none;
	opacity: 0;
	background: transparent;
	transition: opacity 0.5s linear, transform 0.5s ease-out;
	transform: translate(100%, 0%);
	width: 100vw;
	height: 100vh;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#scnDisplay-book {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 700px;
	overflow: hidden;
}

#scnDisplay-book {
	filter: drop-shadow(5px 5px 50px #000);
	border-radius: 10px;
}

.bookCover {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	overflow-wrap: break-word;
	text-align: left;
	color: white;
	/*text-shadow: 0 0px 5px white;*/
	transition: transform 2s linear;
}

.bookCoverDetail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#scnDisplay-bookCoverFront {
	left: 50%;
}

#scnDisplay-bookPageLeft {
	left: 0;
	transform: translate(50%) rotateY(-90deg);
	opacity: 0;
	background-color: white;
	transition: transform 1s linear;
	color: black;
	background: url("resources/graphics/covers/paper1.webp");
}

#scnDisplay-bookPageRightContent {
	margin: 25px;

	color: black;
	font-size: 1.2em;
	font-family: serif;
	white-space: normal;
}

#scnDisplay-bookPageRight {
	left: 50%;
	z-index: -1;
	background-color: white;
	background: url("resources/graphics/covers/paper2.webp");
	overflow: auto;
	white-space: normal;
}

#scnDisplay-bookTitle {
	font-size: 3em;
	padding: 10px;
	margin-bottom: 0;
}

#scnDisplay-bookSubtitle {
	font-size: 1.8em;
	padding: 10px;
	margin: 0;
	padding-bottom: 0;
}

#scnDisplay-bookAuthor {
	font-size: 2em;
	padding: 10px;
	margin-top: 0;
}

#scnDisplay-downloadBtn {
	width: 50%;

	position: fixed;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, 0);

	border-radius: 0;
	text-align: center;
}

#scnDisplay-downloadBtn:hover {
	transform: translate(-50%, 0) scale(1.05);
}

#scnDisplay-downloadBtn:active {
	transform: translate(-50%, 0) scale(1);
}

/*===== ANIMATIONS =====*/
@keyframes progressAnim {
	0% {
		left: -50%;
	}

	100% {
		left: 100%;
	}
}

@keyframes bgAnim {
	0% {
		background-position-x: 0px
	}

	100% {
		background-position-x: 9600px
	}
}